.ButtonMain {
  border-radius: 5px;
  padding: 1.4rem 2.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  color: var(--black);
  border: none;
  font-family: var(--ff-plus-jakarta);
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.ButtonMain:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.ButtonMain:hover {
  color: #000;
}
.ButtonMain:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.ButtonMain:active {
  top: 2px;
}

.section-left {
  min-width: 94%;
  max-width: 94%;
  margin: 0;
  padding: 0;
}
.para {
  font-family: var(--ff-manrope);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem;
  text-align: justify;
  color: var(--black);
}
.para.white {
  color: var(--white);
}

.section-inner {
  width: 80%;
  margin: 5rem auto;
}
.big-heading {
  font-family: var(--ff-satisfy);
  font-size: 15rem;
  font-weight: 400;
  line-height: 20.11rem;
  text-align: center;
  color: var(--primary-yellow);
}
.big-heading1 {
  font-family: var(--ff-dm-display);
  font-size: 12rem;
  font-weight: 400;
  line-height: 20.11rem;
  text-align: center;
  color: var(--primary-yellow);
}
.big-heading.blck {
  color: #101616;
}
@media (max-width: 1599px) {
  .big-heading {
    font-family: var(--ff-satisfy);
    font-size: 12rem;
    font-weight: 400;
    line-height: 17.11rem;
    text-align: center;
    color: var(--primary-yellow);
  }
}

.heading2 {
  font-family: var(--ff-old);
  font-size: 6rem;
  font-weight: 400;
  line-height: 6.4rem;
  text-align: left;
  color: #2d2e32;
}

.ylwTag {
  font-family: var(--ff-open);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: 1.399999976158142px;
  text-align: center;
  color: var(--primary-yellow);
}

.BigButton {
  min-width: 20rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: var(--bg-black);
  font-family: var(--ff-inter);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: -0.4399999976158142px;
  text-align: center;
  padding: 5rem;
  transition: all 0.3s ease;
}
.BigButton img {
  width: 6.8rem;
}

.BigButton:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: all 0.3s ease;
}

.inputFieldBox .inputLabel {
  font-family: var(--ff-roboto);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: left;
  color: #071c3c;
}
.inputFieldBox .inputBody {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.inputFieldBox {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  padding-bottom: .8rem;
  border-bottom: 2px solid #c9f3ff;
}
.inputFieldBox .inputBody input,
.inputFieldBox .inputBody textarea,
.inputFieldBox .inputBody select {
  width: 100%;
  font-family: var(--ff-roboto);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87rem;
  color: #071c3c99;
  border: none;
  outline: none;
  /* background: transparent; */
  padding: 1rem;
}
.inputFieldBox .inputBody textarea {
  border: 2px solid #c9f3ff;
  border-radius: 4px;
  padding: 1.2rem;
  min-height: 10rem;
}
.inputFieldBox .inputBody .icon {
  font-size: 2rem;
  color: #071c3c;
}
.error{
  font-size: 1.4rem;
  color: red;
}
.ContactForm{
  background-color:#ffffffca;
  padding: 3.2rem;
  border-radius: 2rem;
  min-width: 32%;
  height: fit-content;
}
.ContactForm .input-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ContactForm .check-term{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
}
.ContactForm .check-term .sm-txt{
  font-size: 1.6rem;
}
.ContactForm .black.ButtonMain{
  width: 100%;
  margin: 2rem auto;
  background: var(--white);
  font-size: 2rem;
  padding: 2rem ;
}

@media (max-width: 999px) {
  .sm-flex-column {
    display: flex;
    flex-direction: column !important;
  }
  .sm-w-100 {
    width: 100% !important;
  }
  .big-heading {
    font-size: 4rem;
    line-height: 5.11rem;
  }
  .heading2 {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}

@media (max-width: 1099px) {
  .big-heading {
    font-size: 9rem;
    line-height: 13.11rem;
  }
  .section-inner {
    width: 92%;
  }
}

@media (max-width: 499px) {
 
  .para {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .BigButton {
    min-width: 16rem;
    width: 16rem;
    height: 16rem;
  }
  .section-left {
    min-width: 100%;
    width: 100%;
  }
  .section-inner {
    width: 92%;
  }
  .big-heading1,
  .big-heading {
    font-size: 4rem;
    line-height: 5.11rem;
}
.AboutSection .heading2{
  text-align: center;
}
}
