* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: var(--ff-montserrat);
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--primary-black);
  scroll-behavior: smooth;
}



a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}


@media (min-width: 1899px) and (max-width: 2499px) {
  html,
  body {
    font-size: 68%;
  }
}
@media (min-width: 299px) and (max-width: 1599px) {
  html,
  body {
    font-size: 55%;
  }
}
@media (min-width: 299px) and (max-width: 1399px) {
  html,
  body {
    font-size:48%;
  }
}

@media (min-width: 299px) and (max-width: 1099px) {

  html,
  body {
    font-size: 42%;
  }
}
@media (min-width: 299px) and (max-width: 499px) {
  :root {
    --frame-padding: 1.6rem;
  }
  html,
  body {
    font-size: 50%;
  }
}


/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}